---

---

<footer class="footer">
    <div class="name">
      <a href="#" class="header-logo">
        <span class="logo-n1">u</span>
        <span class="logo-n2">lhis</span>
      </a>
    </div>
    <div class="text">
      <span>Inspirado en
         <br>
        <a class="text-link"
          href="https://www.ozgekeles.com/" 
          target="_blank" 
          rel="noopener noreferrer"
        > OZGE KELES
        </a>
      </span>
    </div>
</footer>

<style>
.footer{
  box-sizing: border-box;
  border-radius: var(--b-radius) var(--b-radius) 0 0;
  background-color: var(--c-big-stone);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--c-alabaster);
  padding: 2rem 1rem;
  max-width: 62rem;
  margin: 0 auto;
}
.name{
  font-size: 16px;
  a{
    color: var(--c-concrete);
    list-style-type: circle;
    text-decoration: none;
  }
}
.header-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}
.logo-n1{
  font-size: 18px;
  font-family: var(--font-special);
  font-weight: 600;
  text-transform: uppercase;
}
.logo-n2{
  font-size: 19px;
}
.text{
  color: var(--c-concrete);
  display: flex;
  justify-content: center;
  align-items: center;
  
  a{    
    text-decoration: none;
    color: var(--c-concrete);
    font-weight: 400;
  }
}
.text-link:hover{
  color: var(--c-burning-sand-light);
  transition: color 0.25s ease-in-out;
}
</style>