---
import Star from "@icons/Star.astro";

---

<footer class="footer">
  <div class="content">
    <div class="text">
      <p>Creditos:
        <br>Inspirado en 
          <a class="text-link"
          href="https://www.ozgekeles.com/" 
          target="_blank" 
          rel="noopener noreferrer"
          > OZGE KELES
          </a>
        </p>
        <div class="icon">
          <Star />
        </div>
    </div>
    <span class="name">HENRY ULISES<br>AZOGUE CH.</span>
  </div>
</footer>

<style>
.footer{
  background: var(--c-tuatara);
  color: var(--c-alabaster);
  padding: 32px 0;
}
.content{  
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--s-text);

  margin: 0 auto;
  max-width: var(--w-box);
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-link{
  color: var(--c-alabaster);
  font-weight: bold;
  text-decoration: none;
}
.icon{
  width: 16px;
  height: 16px;
}
</style>