---
import Star from "@icons/Star.astro";

---

<header class="header">
  <div class="header-state">
    <div class="content-text">Disponible:</div>
    <div class="content-icon"></div>
  </div>
  <div class="header-logo">
    <span class="logo-n1">u</span>
    <span class="logo-n2">lhis</span>
    <div class="logo-content"><Star /></div>
  </div>
  <nav class="header-content">
    <a class="content-link" href="#contact">Contáctame</a>
  </nav>
</header>

<style>
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  width: var(--w-box);
  margin: 0 auto;
}

.header-content{}
.header-state{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.content-text{
  font-size: var(--s-text);
  color: var(--c-tuatara);
}
.content-icon{
  background-color: var(--c-disabled);
  border-radius: 50%;
  width: var(--box-state);
  height: var(--box-state);
}
.content-link{
  text-decoration: none;
  font-size: var(--s-text);
  color: var(--c-tuatara);
}
.content-link:hover{
  color: var(--c-disabled);
  transition: color 1s ease-in-out;
}

.header-logo{
  color: var(--c-god-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-n1{
  font-size: 35px;
  line-height: 17px;
  letter-spacing: -2px;
  padding-bottom: 6px;
}
.logo-n2{
  font-size: 26px;
  line-height: 20px;
  letter-spacing: -1px;
}
.logo-content{
  width: 24px;
  height: 24px;
}
</style>