---

---

<header id="#contact" class="header">
  <a href="#" class="header-logo">
    <span class="logo-n1">u</span>
    <span class="logo-n2">lhis</span>
  </a>
  <nav class="header-nav">
    <li class="nav-li">
      <a href="#projects" class="link-navigate">
        Proyectos</li>
      </a>
    <li class="nav-li">
      <a href="#about" class="link-navigate">
        Acerca de mí</li>
      </a>
  </nav>
  <div class="header-content">
    <a class="link-navigate" href="#contact">Contáctame</a>
  </div>
</header>

<style>
.header{
  color: var(--c-big-stone);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  width: var(--z-hf);
  margin: 0 auto;
  
  a{
    list-style-type: circle;
  text-decoration: none;
  color: var(--c-big-stone);
  }
}

.header-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}
.logo-n1{
  font-size: 18px;
  font-family: var(--font-special);
  font-weight: 600;
  text-transform: uppercase;
}
.logo-n2{
  font-size: 19px;
}

.header-nav{
  display: none;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.nav-li {
  list-style-type: none;
}

.link-navigate{ 
  list-style-type: circle;
  text-decoration: none;
  color: var(--c-big-stone);
}
.link-navigate:hover{
  color: var(--c-burning-sand-light);
  transition: color 0.25s ease-in-out;
}

.header-content{
  color: var(--c-big-stone); 
}
@media (width >=736px){
  .header{
    
  }
  .header-nav{
    display: flex;
  }
}

</style>