<a class="piece" href="mailto:hnrazogue@gmail.com?subject=Tengo un proyecto &body=Hola Henry, tengo esto en mente para mi proyecto..">
  <div class="piece-n2"></div>
  <span class="piece-n3">hnrazogue@gmail.com</span>
</a>

<style>
  .piece{
    --border-box: clamp(0.313rem, 0.1712rem + 0.7091vw, 0.625rem);
    --back-color: radial-gradient(50% 50% at 50% 50%, #00b4d8 0%, #fafafa 95.70%);
    --width-icon-dad: clamp(9.313rem, 4.1994rem + 25.5682vw, 20.563rem);
    --height-icon-dad: clamp(3.688rem, 1.9835rem + 8.5227vw, 7.438rem);
    --width-icon-child: clamp(8.938rem, 4.1085rem + 24.1477vw, 19.563rem);
    --height-icon-child: clamp(2.25rem, 0.9145rem + 6.6773vw, 5.188rem);
    --padding-icon: clamp(0.125rem, 0.0114rem + 0.5682vw, 0.375rem);

    background: var(--c-alabaster);
    border: solid 1px var(--c-disabled);
    border-radius: var(--border-box);

    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--padding-icon);

    width: var(--width-icon-dad);
    height: var(--height-icon-dad);
    padding: var(--padding-icon);
  }
  .piece-n2{
    background: var(--back-color);
    border: 1px solid var(--c-disabled);
    border-radius: var(--border-box);
    width: var(--width-icon-child);
    height: var(--height-icon-child);
  }
  .piece-n3{
    color:var(--c-tuatara);
    font-size: var(--s-text);
  }
</style>