---
import Behance from "@icons/Behance.astro";
import Dribblen from "@icons/Dribblen.astro";
import Git from "@icons/Git.astro";
import Gmail from "@icons/Gmail.astro";
import Linkedin from "@icons/Linkedin.astro";

---
<div class="slider">
  <marquee behavior="" direction="">
■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen ■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen ■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen ■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen ■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen ■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen ■ LinkedIn ■ Behance ■ Gmail ■ GitHub ■ Dribbblen
    </div>
  </marquee>
</div>

<style>
  .slider{
    letter-spacing: 2px;
    padding-block: 1rem;
    border: solid 1px var(--c-burning-sand-light); 
    font-size: 18px;
    color: var(--c-big-stone-moderate);
  }
</style>