---
interface Props {
  letterFrist: string;
  letterSecond: string;
}

const { letterFrist, letterSecond } = Astro.props

---

<h2 class="subtitle">
  <span>{letterFrist}</span>
  {letterSecond}
</h2>

<style>
  .subtitle{

    color: var(--c-burning-sand);
    font-family: var(--font-special);
    font-size: var(--s-title-section);
    
    display: flex;
    gap: 1px;

    span{
      font-family: var(--font-context);
      font-weight: 400;
      font-style: italic;
    }
  }
</style>