---
import SubTitle from "./SubTitle.astro";
import AffinityPhoto from "@icons/AffinityPhoto.astro"
import AstroSvg from "@icons/AstroSvg.astro"
import ReactJs from "@icons/ReactJs.astro"
import Node from "@icons/Node.astro";
import Canva from "@icons/Canva.astro"
import Lunacy from "@icons/Lunacy.astro"
import Vercel from "@icons/Vercel.astro"
import Figma from "@icons/Figma.astro"
import Vite from "@icons/Vite.astro";
import Html from "@icons/Html.astro";
import Js from "@icons/Js.astro";
import Css from "@icons/Css.astro";
import Ts from "@icons/Ts.astro";
import Express from "@icons/Express.astro";
import GitHub from "@icons/GitHub.astro";
import Git from "@icons/Git.astro";
import Star from "@icons/Star.astro";

--- 

<section class="tool">
  <SubTitle letterFrist="H" letterSecond="erramientas que utilizo"/>

  <div class="parent">
    <div class="div1">
      <h2 class="div1-title">FRONT<br>-<span>END</span></h2>
      <div class="div1-box">
        <div class="div1-tag">
          <Ts />
          <Css />
          <Js />
        </div>
        <div class="div1-tag-special">
          <Html />
        </div>
      </div>
    </div>
    <div class="div2">
      <Express />
      <Node />
      <h2 class="div2-title">BACK<br>-<span>END</span></h2>
    </div>
    <div class="div3">
      <img class="div3-img" src="../../src/assets/grid-003.webp" alt="Imagen de Henry Azogue el chico web developer">
    </div>
    <div class="div4">
      <AstroSvg />
      <ReactJs />
    </div>
    <div class="div5">
      <div class="div5-box">
        <div class="div-5-svg">
          <GitHub />
        </div>        
        <div class="div-5-svg">
          <Git /> 
        </div>

        <Vite />
        <Vercel />
      </div>
      <div class="div5-content">
        <span>T</span>
        <div class="content-svg">
          <Star />
        </div>
        <div class="content-svg">
          <Star />
        </div>
        <span>LS</span>
      </div>
    </div>
    <div class="div6">
      <h2 class="div6-title">Diseño</h2>
      <Figma />
      <div class="div6-svg">
        <Lunacy />
      </div>
    </div>
    <div class="div7">
      <h2 class="div7-title">Creatividad</h2>
      <div class="div7-content">
        <div class="div7-svg">
          <Canva />
        </div>
        <div class="div7-svg">
          <AffinityPhoto />
        </div>
      </div>
    </div>
  </div> 
</section>

<style>
.tool{
    width: var(--z-box);
    margin: 0 auto;
}
.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 117px);
    gap: 10px;
    margin-bottom: 2rem;
}
    
.div1 {
    grid-row: span 4 / span 4;
    border-radius: var(--b-radius);
    background-image: url("../assets/grid-001.webp");
    background-size: 140% 500px;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
    .div1-title{
      font-family: 40px;
      font-weight: 400;
      font-style: italic;
      color: var(--c-concrete);
      padding-inline: 2rem;
      span{
        color: var(--c-burning-sand);
      }
    }
    .div1-box{
      padding-top: 50px;
      padding-right: 1rem;
      display: flex;
      align-items: end;
      justify-content: end;
      gap: 2rem;
    }
    .div1-tag{
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
    .div1-tag-special{
      width: 45px;
      height: 45px;
    }
}

.div2 {
    grid-row-start: 5;
    background: var(--c-concrete);
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .div2-title{
      font-family: 40px;
      font-weight: 400;
      font-style: italic;
      color: var(--c-big-stone);
  
      span{
        color: var(--c-burning-sand);
      }
    }
}

.div3 {
    grid-row: span 2 / span 2;
    grid-row-start: 6;
    background: var(--c-bison-hide);
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);

    display: flex;
    align-items: end;
    .div3-img{
      object-fit: scale-down;
      width: 100%;
      height: 100%;
    }
}

.div4 {
    grid-row-start: 8;
    background: var(--c-burning-sand);
    background-size: 140%;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

.div5 {
    grid-row: span 2 / span 2;
    grid-row-start: 9;
    background-image: url("../assets/grid-002.webp");
    background-size:  100% 305px;
    background-position: 0px;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);

    display: grid;
    place-content: center;
    gap: 1rem;

    .div5-box{
    display: flex;
    gap: 1rem;

    .div-5-svg{
      width: 45px;
      height: 45px;
      color: var(--c-concrete);
    }
    }
    .div5-content{
      color: var(--c-concrete);
      font-size: 30px;
      display: flex;
      gap: 5px;

      .content-svg{
        width: 25px;
        height: 25px;
        color: var(--c-concrete);
      }
    }
}

.div6 {
    grid-row-start: 11;
    background: var(--c-concrete);
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);

    display: flex;
    justify-content: space-around;
    align-items: center;

    .div6-title{
      font-family: var(--font-special);
      font-size: 40px;
      font-weight: 600;
      color: var(--c-big-stone);
    }
    .div6-svg{
      width: 45px;
      height: 44px;
    }
}

.div7 {
  grid-row-start: 12;
  grid-row: span 4 / span 4;
  background-image: url("../assets/grid-004.webp");
  background-size: 135% 500px;
  background-position-x: -60px;
  border: solid 1px var(--c-bison-hide);
  border-radius: var(--b-radius);

  .div7-title{
      font-family: var(--font-special);
      font-size: 40px;
      font-weight: 600;
      color: var(--c-concrete);
  }

  .div7-content{
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;

    .div7-svg{
      height: 45px;
      height: 45px;
    }
  }
}
          
@media(width >= 743px){
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 117px);
    gap: 10px;
}
  .div1 {
    grid-row: span 4 / span 4;
    border-radius: var(--b-radius);
    background-image: url("../assets/grid-001.webp");
    background-size: 140% 500px;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
}

.div2 {
    grid-column-start: 1;
    grid-row-start: 5;
    background: var(--c-concrete);
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
    
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    background: var(--c-bison-hide);
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 3;
    background: var(--c-burning-sand);
    background-size: 140%;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    background-image: url("../assets/grid-002.webp");
    background-size:  100% 305px;
    background-position: 0px;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
    
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 1;
    background: var(--c-concrete);
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
}

.div7 {
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 2;
    background-image: url("../assets/grid-004.webp");
    background-size: 135% 500px;
    background-position-x: -60px;
    border: solid 1px var(--c-bison-hide);
    border-radius: var(--b-radius);
}
}
  
</style>