---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    <meta name="description" content="Soy Ulises desarrollador web y con habilidades en diseño y fotografía, motivado por llevar las ideas y productos de personas que expresan su arte a través de sus servicios a una experiencia digital." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Ulhis</title>
	</head>
	<body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
	</body>
</html>

<style>

@font-face{
	font-family: 'BricolageGrotesque';
	src: url('/public/font/BricolageGrotesque-Bold.ttf') format(TrueType);
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family: 'BricolageGrotesque';
	src: url('/public/font/BricolageGrotesque-SemiBold.ttf') format(TrueType);
	font-weight: 600;
	font-style: normal;
	font-display: swsap;
}
@font-face{
	font-family: 'BricolageGrotesque';
	src: url('/public/font/BricolageGrotesque-Regular.ttf') format(TrueType);
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family: 'BricolageGrotesque';
	src: url('/public/font/BricolageGrotesque-Light.ttf') format(TrueType);
	font-weight: lighter;
	font-style: normal;
	font-display: swap;
}

/* Aquí definimos las Custom properties */
:root {
/* Colors */
  --c-primary: #FFB5E8;
  --c-secondary: #00B4D8;
  --c-tertiary: #C8AB7C;
  --c-accent: #FFB6C1;
  --c-text: #2B272A;
  --c-background: #FAFAFA;
  --c-background-section: #FFFDFD;
  --c-background-card: #F2F1EB;
/* Size */
  --s-title: clamp(2.625rem, 1.2614rem + 6.8182vw, 5.625rem);
	--s-subtitle: clamp(2.375rem, 1.6932rem + 3.4091vw, 3.875rem);
	--s-paragraph: clamp(1rem, 0.9432rem + 0.2841vw, 1.125rem);
	--s-text: clamp(0.75rem, 0.7214rem + 0.1432vw, 0.813rem);
	--s-card-title: clamp(1.25rem, 1.0795rem + 0.8523vw, 1.625rem);
	--s-card-paragraph: clamp(0.875rem, 0.8182rem + 0.2841vw, 1rem);
/* Margin */
	--m-block: 150px;
	--m-xwith: 768px;

/* Border */
  --b-radius: 15px;	

/* Padding */
	--p-block: 150px;

/* Font*/
  --f-context: BricolageGrotesque;
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
	background-color: var(--c-background);
  font-family:  var(--f-context);
  font-size: 100%;
  line-height: 0.8;
 
}
main{
  margin: 0 2rem;
}
@media (width<=768px){
  main{margin: 0 5px;}
}
</style>
