---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    <meta name="description" content="Soy Ulises desarrollador web y con habilidades en diseño y fotografía, motivado por llevar las ideas y productos de personas que expresan su arte a través de sus servicios a una experiencia digital." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Ulhis</title>
	</head>
	<body>
      <Header />
      <main>
        <slot />
      </main>
      <Footer /> 
	</body>
</html>

<style>

@font-face{
	font-family: 'MonsieurLaDoulaise';
	src: url('/font/MonsieurLaDoulaise-Regular.woff2') format(woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


/* Aquí definimos las Custom properties */
:root {
/* Colors */
  --c-big-stone: hsl(203, 97%, 13%);
  --c-big-stone-high:hsla(203, 97%, 13%, 0.90);
  --c-big-stone-moderate:hsla(203, 97%, 13%, 0.70);
  --c-bison-hide: hsl(40, 17%, 70%);
  --c-burning-sand: hsl(16, 56%, 66%);
  --c-burning-sand-light:hsla(16, 56%, 66%, 0.70);
  --c-concrete: hsl(0, 0%, 95%);

/* Size text*/
  --s-title: clamp(1.875rem, 0.0693rem + 7.7042vw, 5rem);
	--s-subtitle: clamp(1.5rem, 1.1591rem + 1.7045vw, 2.25rem);	
	--s-paragraph: clamp(1.125rem, 1.0528rem + 0.3082vw, 1.15rem);
  --s-title-section: clamp(1.375rem, 1.3028rem + 0.3082vw, 1.5rem);
  --s-special: clamp(2.5rem, 1.7777rem + 3.0817vw, 3.75rem);

/* Size box*/
  --z-hf: clamp(18rem, -2.0000rem + 100.0000vw, 62rem);
  --z-box: clamp(18rem, -1.6364rem + 93.1818vw, 58rem);
  --z-img-big: clamp(17rem, 16.2045rem + 3.9773vw, 18.75rem);

/* Border */
  --b-radius: 15px;

/* Fonts  */
  --font-context: Helvetica, sans-serif;
  --font-special: MonsieurLaDoulaise;
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  margin: 0;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
	background-image: url("/back-img.webp");
	font-family:  var(--font-context);
  font-size: 100%;
}

</style>
